@import "_varSass.sass"

html, body
	font-size: 16px
	min-width: 305px




.MainHeader
	padding-top: 35px
	padding-bottom: 30px
.MainLogo
	display: flex
	flex-direction: row
	justify-content: start
	align-items: center
	&__title
		font-size: 2.7em
		margin: 0
		padding: 0
		letter-spacing: 0.2em
		margin-right: 10px
		font-weight: bold
		text-transform: uppercase
		&__link
			color: $blackColor
			text-decoration: none
			transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
			&:hover
				text-decoration: none
				color: $blackColor
			&:focus
				text-decoration: none
				color: $blackColor
			&--white
				color: $whiteColor
				&:hover
					text-decoration: none
					color: $whiteColor
				&:focus
					text-decoration: none
					color: $whiteColor
			&__style-elem
				color: $accentColor
				&--white
					color: $whiteColor
				&--sub-color
					color: $subColor

	&__tagline
		font-size: 0.8em
		line-height: 1.6em
		font-weight: bold
		text-transform: uppercase

	&--vr
		flex-direction: column
		judtify-content: start
		align-items: start

.Tel
	margin: 0
	padding: 0
	&__item
		list-style-type: none
		&__link
			color: $blackColor
			font-weight: bold
			&:hover
				color: $blackColor
				text-decoration: none
			&:focus
				color: $blackColor
				text-decoration: none
#main-action-btns
	display: flex
	flex-direction: row
	justify-content: space-between
	& i
		cursor: pointer
		color: $accentColor
		transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
		font-size: 22px
		&:hover
			color: $subColor
			transform: scale(1.1, 1.1)
.main-action-btns--navLine
	width: 17%
	max-width: 65px





hr.line
	height: 1px
	background-color: $accentColor
	border: none
	margin: 0
	padding: 0
	width: 100%




// navigationContainer
.navigation-line
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	padding: 15px 0 15px 0

// main navigation
.MainMenu
	&__list
		display: flex
		margin: 0
		padding: 0
		justify-content: space-between
		align-items: center
		&__item
			list-style: none
			margin-right: 12%
			&__link
				color: $blackColor
				text-transform: uppercase
				font-weight: bold
				text-decoration: none
				transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
				&:hover
					text-decoration: none
					color: $accentColor
				&:focus
					text-decoration: none
					color: $subColor




// slider
.MainSlider
	width: 100%
	max-width: 100%
	display: flex !important
	flex-direction: row
	&__slide-container
		display: flex !important
		flex-direction: row
		&__img-container
			width: 50%
			&__img
				width: 100%
				height: auto
				max-height: 450px
		&__text-container
			background-color: $accentColor
			padding: 60px
			width: 50%
			color: $whiteColor
			display: flex !important
			flex-direction: column
			align-self: stretch
			align-items: start
			justify-content: center
			&__header
				margin-bottom: 15px
				&__title
					margin: 0
			&__main-text
				margin-bottom: 30px
				& p:last-child
					margin: 0
			&__footer
				& p:last-child
					margin: 0

// slick standart style change					
.slick-prev.slick-arrow
	left: 0
	z-index: 10
	left: 60px
	margin-top: -20px
	&:before
		content: "\f104"
		font-family: 'Font Awesome 5 Free'
		font-weight: 900
		font-size: 80px
		
.slick-next.slick-arrow
	right: 0
	z-index: 10
	right: 60px
	margin-top: -20px
	&:before
		content: "\f105"
		font-family: 'Font Awesome 5 Free'
		font-weight: 900
		font-size: 80px
.slick-dots
	position: absolute
	width: 50%
	right: 0
	bottom: 60px
	z-index: 11
	text-align: left
	padding-left: 52px
	& li
		&.slick-active
			& button
				&:before
					color: $whiteColor
		z-index: 11
		& button
			z-index: 11
			&:before
				font-size: 20px
				color: $whiteColor
.slick-dotted.slick-slider
	margin-bottom: 0





.DepartmentNav
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	align-items: center
	padding: 30px 0 30px 0
	&__list
		width: 100%
		align-self: stretch
		display: flex
		flex-direction: row
		flex-wrap: no-wrap
		justify-content: center
		padding: 0
		margin: 0
		&__item
			list-style-type: none
			margin: 0
			padding: 0
			display: inline-block
			//border-right: 1px solid $accentColor
			height: auto
			padding: 10px 4% 10px 4%
			&:nth-child(odd)
				border-right: 1px solid $accentColor
			&:nth-child(even)
				border-right: 1px solid $subColor
			&:last-child
				border: none
			&__link
				display: block
				color: inherit
				text-transform: uppercase
				font-weight: bold
				text-decoration: none
				padding: 2px 0
				font-size: 1.5em
				border-bottom: 1px solid $greyColor
				transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
				&:hover
					text-decoration: none
					color: $accentColor
					border-bottom: 1px solid $accentColor
				&:focus
					text-decoration: none
					color: $subColor
					border-bottom: 1px solid $subColor





.SubNavCard
	color: $blackColor
	height: auto
	/*margin-bottom: 30px*/
	min-height: auto
	&:after
		display: table
		content: ' '
		box-sizing: border-box
		clear: both
	&__img-Container
		width: 100%
		float: left
		text-align: center
		&__img
			width: 100%
			height: auto
	&__link-Container
		float: left
		width: 100%
		text-align: center
		padding: 30px
		padding-bottom: 0
		&__link
			display: inline-block
			color: inherit
			text-transform: uppercase
			font-weight: bold
			text-decoration: none
			padding: 2px 0
			font-size: 1em
			border-bottom: 1px solid $greyColor
			transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
			&:hover
				text-decoration: none
				color: $accentColor
				border-bottom: 1px solid $accentColor
			&:focus
				text-decoration: none
				color: $subColor
				border-bottom: 1px solid $subColor





.Review
	color: $blackColor
	text-decoration: none
	display: block
	border: 1px solid $accentColor
	padding: 30px
	font-size: 1.1em
	&:focus
		color: $blackColor
		text-decoration: none
	&:hover
		color: $blackColor
		text-decoration: none
	&__header
		padding-bottom: 15px
		&__content

			&__date
				color: $accentColor
				text-transform: uppercase
				font-weight: bold
	&__main
		&__content
			padding-bottom: 15px
			&__p
				font-weight: bold
	&__footer
		&__content
			&__name
				color: $accentColor





.MainFooter
	background-color: $accentColor

.FooterNav
	&__title
		margin: 0
		color: $whiteColor
		text-transform: uppercase
		margin-top: 12px
		margin-bottom: 20px
		line-height: 1.4
		font-weight: bold
	&__list
		margin: 0
		padding: 0
		&__item
			margin: 0
			padding: 0
			list-style-type: none
			&__link
				color: $whiteColor
				text-dacoration: none
				text-transform: uppercase
				transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
				line-height: 1.8
				&:hover
					color: $blackColor
					text-decoration: none
				&:focus
					color: $whiteColor
					text-decoration: none
		







.lightcyan-bg
	background-color: $lightcyan

// padding std
.std-pd-medium
	padding-top: 30px
	padding-bottom: 30px
	& h1, h2, h3, h4, h5, h6
		&:first-child
			margin-top: 0
.std-pd-large
	padding-top: 60px
	padding-bottom: 60px
	
p:last-child
	margin-bottom: 0





// ----- default Sass Style ----- //
.no-padding
	padding: 0
// button
.flat-button
	display: inline-block
	border: none
	color: $whiteColor
	text-decoration: none
	background-color: $accentColor
	padding: 5px 12px
	font-size: 0.9em
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 1px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	cursor: pointer
	transition: all 0.3s cubic-bezier(0.42,0,0.58,1)
	&:hover
		color: $whiteColor
		text-decoration: none
		background-color: $subColor
	&:focus
		color: $whiteColor
		text-decoration: none


.material-button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accentColor
	padding: 15px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accentColor, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
		outline: none
	&:hover
		background-color: ($accentColor, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accentColor, 5%)
		&::after
			opacity: .32

// advCards
.AdvContainer
	margin: 0
	padding: 0
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&__item
		list-style-type: none
		padding: 0
		margin: 0
		display: inlyne-block
		width: 25%
		&__header
			padding: 0 15px 0 15px
			&__content
		&__main
			&__content
				padding: 0 15px 0 15px
				display: flex
				align-items: center
				flex-direction: column
				&__img
					display: flex
					justify-content: center
					align-items: center
					width: 100%
					& img
						width: 100%
						height: auto
				&__text
					padding: 15px
		&__footer
			padding: 0 15px 0 15px
			&__content




// media quaries (Desktop first!)
// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
	body
		
// Medium devices (desktops, 992px and up)
@media (max-width: 1199px)
	.MainMenu
		&__list
			&__item
				margin-right: 9%

	#main-action-btns
		justify-content: space-around

	.DepartmentNav
		&__list
			&__item
				padding: 10px 2% 10px 2%
				&__link
		
// Small devices (tablets, 768px and up)
@media (max-width: 991.9px)
	.MainHeader
		padding-top: 15px
		padding-bottom: 20px
	.MainLogo
		margin-bottom: 15px
	.Tel
		text-align: right
	#main-action-btns
		justify-content: space-between

	.MainMenu
		display: none

	.DepartmentNav
		&__list
			&__item
				padding: 10px 2% 10px 2%
				&__link
					font-size: 1.1em

	.SubNavCard
		margin-bottom: 40px
		&--no-sm-margin
			margin-bottom: 0
		

// Extra small devices
@media (max-width: 767.9px)
	.MainHeader
		padding-top: 15px
		padding-bottom: 20px
	.MainLogo
		flex-direction: column
		margin-bottom: 15px
		&__title
			margin-bottom: 10px
		&__tagline
			text-align: center
	.Tel
		text-align: right
	.MainMenu
		display: none

	.DepartmentNav
		&__list
			flex-direction: column
			&__item
				border: none !important
				padding: 10px 0 10px 0
				&__link
					font-size: 1em
	.SubNavCard
		&--no-sm-margin
			margin-bottom: 40px
		&--no-xs-margin
			margin-bottom: 0
		&__img-Container
			&__img
				height: 100%
				max-height: 150px
				width: auto
		





// footer down
body, html
	height: 100%
.wrapper
	display: flex
	flex-direction: column
	height: 100%
.content
	flex: 1 0 auto
.footer
	flex: 0 0 auto